@use "colors";

:host {
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: colors.$gray-200;
}

.drawer-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: colors.$gray-200;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

mat-drawer {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.drawer-head {
  display: flex;
  align-items: center;
  padding: 10px;
}

.drawer-head-title {
  flex: auto;
  font-size: 22px;
}

.name-text {
  margin-left: 10px;
  font-size: 18px;
  font-family: monospace;
}
