:host {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.minmax-container {
  width: 300px;
}

.step-container {
  width: 150px;
}

.decimal-container {
  width: 285px;
}

.mt-16 {
  margin-top: 16px !important;
}
